
addict
beautifulsoup4
certifi
charset-normalizer
cycler
filelock
fonttools
fsspec
gdown
huggingface-hub
idna
importlib-metadata
kiwisolver
markdown-it-py
matplotlib
mdurl
mmcv-full
mmengine
numpy
opencv-python
packaging
Pillow
platformdirs
Pygments
pyparsing
PySocks
python-dateutil
PyYAML
requests
rich
safetensors
six
soupsieve
termcolor
timm
tomli
tqdm
typing_extensions
urllib3
yacs
yapf
zipp
